@use "../utils/colors.scss";

.localisation{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    background-color: colors.$color-quaternary;
    text-align: center;
    padding: 1.8rem;
    & i{
        font-size: 1.5rem;
    }
    & span {
        font-weight: bold;
    }
}