@use "../utils/variables.scss";
@use "../utils/colors.scss";
@use "../utils/box-shadow.scss";

.menus {
    background-color: #f6f6f6;
    margin-bottom: 2rem;

    & h2 {
        margin-bottom: 2rem;
        margin-top: 10rem;
    }
    
    &__carte{
        display: flex;
        flex-wrap: wrap;
        gap: 6rem;
        justify-content: space-between;
        & .nouveau {
            position: relative;
        }
        & .nouveau::before{
            content: "Nouveau";
            position: absolute;
            height: 2rem;
            width: 5rem;
            background-color: colors.$color-tertiary;
            color: darken($color: colors.$color-tertiary, $amount: 50%);
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0.3rem;
            right: 1rem;
            top: 1rem;
        }
    }

    & .carte {
        flex-basis: 45%;
        height: 185px;
        @media(max-width: variables.$breakpoint) {
            flex-basis: 100%;
        }
        &__image{
            height: 100%;
            width: 100%;
            border-radius: 1rem 1rem 0 0;
            background-size: cover;
        }
        @for $i from 1 through 4 {
            &__image-#{$i} {
                background-image: url("../../assets/menus-#{$i}.jpg");
            }
        }
        &__description{
            @include box-shadow.boxshadow;
            border-radius: 0 0 1rem 1rem;
            position: relative;
            h3 {
                padding: 0.5rem 0.5rem 0 1rem;
            }
            p {
                padding: 0.2rem 0.5rem 0.5rem 1rem;
            }
    
            i {
                position: absolute;
                font-size: 1.5rem;
                right: 1rem;
                top: 20%;
            }
        }
    }

}

