@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

main {
  padding: 0 7rem;
  margin-bottom: 6rem;
}
@media (max-width: 1100px) {
  main {
    padding: 0 1rem;
  }
}

h2 {
  margin-bottom: 2rem;
  margin-top: 10rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h3, p {
  margin: 0;
}

h5 {
  font-size: 1.8rem;
  font-family: "shrikhand", sans-serif;
  padding: 1.5rem 1.5rem;
  margin: 0;
}

h6 {
  color: #6a6a6a;
  font-size: 1rem;
  margin: 0;
  padding: 1rem;
  font-weight: 500;
}
h6 span {
  padding-bottom: 0.25rem;
  border-bottom: 2px solid #99e2d0;
}

.loadingspinner {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disparaitre 200ms 2500ms forwards;
  transform-origin: bottom;
}
.loadingspinner::after {
  opacity: 1;
  content: "";
  height: 80px;
  width: 80px;
  border-top: 5px solid #353535;
  border-right: 5px solid transparent;
  border-radius: 50%;
  animation-name: spin, color;
  animation-duration: 2500ms, 2500ms;
  animation-timing-function: ease;
}

@keyframes disparaitre {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes color {
  0% {
    background-color: #99e2d0;
  }
  25% {
    background-color: #fface8;
  }
  50% {
    background-color: #ff79da;
  }
  75% {
    background-color: #ae80e5;
  }
  100% {
    background-color: #9356dc;
  }
}
header {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  position: relative;
}

.localisation {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: #D0D0D0;
  text-align: center;
  padding: 1.8rem;
}
.localisation i {
  font-size: 1.5rem;
}
.localisation span {
  font-weight: bold;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 2rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-size: 1.5rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: 200ms;
  margin-top: 1rem;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 2px 1px 7px -3px #353535;
}
.explorer button:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 500ms;
}
.explorer p {
  color: grey;
}

.fonctionnement {
  counter-reset: etapes;
}
.fonctionnement h2 {
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.fonctionnement ol {
  display: flex;
  gap: 2rem;
  padding-left: 1rem;
}
@media (max-width: 1100px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  list-style-type: none;
  background-color: white;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 7px -3px #353535;
  position: relative;
  font-weight: bold;
}
.fonctionnement li::before {
  content: counter(etapes);
  counter-increment: etapes;
  color: #f6f6f6;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  top: 1.2rem;
}
.fonctionnement li:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: transform 500ms;
  background-color: #ffdff6;
}
.fonctionnement li:hover .fas {
  color: #9356dc;
}
.fonctionnement li i.fas {
  margin-right: 1rem;
  color: #D0D0D0;
}

.menus {
  margin-bottom: 2rem;
}
.menus h2 {
  margin-bottom: 2rem;
  margin-top: 5rem;
}
.menus__carte {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-between;
}
.menus__carte .nouveau {
  position: relative;
}
.menus__carte .nouveau::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  right: 1rem;
  top: 1rem;
}
.menus .carte {
  flex-basis: 45%;
  height: 185px;
}
@media (max-width: 1100px) {
  .menus .carte {
    flex-basis: 100%;
  }
}
.menus .carte__image {
  height: 100%;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
.menus .carte__image-1 {
  background-image: url("./assets/menus-1.jpg");
}
.menus .carte__image-2 {
  background-image: url("./assets/menus-2.jpg");
}
.menus .carte__image-3 {
  background-image: url("./assets/menus-3.jpg");
}
.menus .carte__image-4 {
  background-image: url("./assets/menus-4.jpg");
}
.menus .carte__description {
  box-shadow: 2px 1px 7px -3px #353535;
  border-radius: 0 0 1rem 1rem;
  position: relative;
}
.menus .carte__description::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-fontsmoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  position: absolute;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 30%;
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.menus .carte__description::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-fontsmoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 30%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 500ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.menus .carte__description:hover::after {
  transform: scale(1.2);
  opacity: 1;
}
.menus .carte__description h3 {
  padding: 0.5rem 0.5rem 0 1rem;
}
.menus .carte__description p {
  padding: 0.2rem 0.5rem 0.5rem 1rem;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer ul {
  padding: 0;
  list-style-type: none;
}
footer h4 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: larger;
  margin: 0;
}
footer li {
  padding: 0.3rem 0.3rem 0.3rem 0;
}
footer li i {
  padding-right: 0.5rem;
}
footer li i.fa-hands-helping::before {
  font-size: 11px;
}

@keyframes apparaître {
  0% {
    transform: translateY(80%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  display: block;
}

.nomrestaurant {
  position: relative;
  margin-top: -2rem;
  background-color: #eaeaea;
  box-shadow: 2px 1px 7px -3px #353535;
  border-radius: 0 0 1rem 1rem;
  position: relative;
  border-radius: 1.5rem 1.5rem 0 0;
  box-shadow: none;
}
.nomrestaurant::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-fontsmoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  position: absolute;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 30%;
  color: inherit;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: all 500ms ease-in-out;
}
.nomrestaurant::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-fontsmoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  content: "\f004";
  font-size: 2rem;
  right: 1rem;
  top: 30%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 500ms ease-in-out;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
}
.nomrestaurant:hover::after {
  transform: scale(1.2);
  opacity: 1;
}

.entreeplatdessert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  background-color: #eaeaea;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entreeplatdessert .choix {
  box-shadow: 2px 1px 7px -3px #353535;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  animation: apparaître 1s;
  animation-fill-mode: both;
}
.entreeplatdessert .choix:nth-child(1) {
  animation-delay: 100ms;
}
.entreeplatdessert .choix:nth-child(2) {
  animation-delay: 200ms;
}
.entreeplatdessert .choix:nth-child(3) {
  animation-delay: 300ms;
}
.entreeplatdessert .choix:nth-child(4) {
  animation-delay: 400ms;
}
.entreeplatdessert .choix h7 {
  padding: 0rem 0.5rem 0 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entreeplatdessert .choix p {
  padding: 0.3rem 0.5rem 0rem 0.5rem;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entreeplatdessert .choix span {
  font-weight: bold;
}
.entreeplatdessert .choix__anime {
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entreeplatdessert .choix__prix {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  padding: 0 0 0.5rem 0;
}
.entreeplatdessert .choix .animelogo {
  background-color: #99e2d0;
  margin-right: -4rem;
  transition: margin-right 0.8s;
  display: grid;
  place-items: center;
  margin-left: 1rem;
  padding: 1rem;
}
.entreeplatdessert .choix .animelogo i {
  display: grid;
  place-items: center;
  background-color: white;
  color: #99e2d0;
  border-radius: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}
.entreeplatdessert .choix:hover .animelogo {
  margin-right: 0;
}
.entreeplatdessert .choix:hover i {
  animation: quartdetour 800ms;
}
@keyframes quartdetour {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

.command {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 1rem 1rem 3rem 1rem;
}
.command button {
  color: white;
  font-size: 1.5rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: 200ms;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  box-shadow: 2px 1px 7px -3px #353535;
  cursor: pointer;
}
.command button:hover {
  transform: scale(1.03);
  transition: transform 500ms;
}

#pages-menus header::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-fontsmoothing: antialiased;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  content: "\f060";
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
}

/*# sourceMappingURL=style.css.map */
