@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

main {
  padding: 0 7rem;
  margin-bottom: 6rem;
}
@media (max-width: 1100px) {
  main {
    padding: 0 1rem;
  }
}

h2 {
  margin-bottom: 2rem;
  margin-top: 10rem;
}

a {
  text-decoration: none;
  color: inherit;
}

h3, p {
  margin: 0;
}

header {
  font-family: "Shrikhand", sans-serif;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  position: relative;
}

.localisation {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  background-color: #D0D0D0;
  text-align: center;
  padding: 1.8rem;
}
.localisation i {
  font-size: 1.5rem;
}
.localisation span {
  font-weight: bold;
}

.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 2rem;
  font-size: 2rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  font-size: 1.5rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition: 200ms;
  margin-top: 1rem;
  box-shadow: 2px 1px 7px -3px black;
}
.explorer button:hover {
  transform: scale(1.02);
}
.explorer p {
  color: grey;
}

.fonctionnement {
  counter-reset: etapes;
}
.fonctionnement h2 {
  margin-bottom: 2rem;
  margin-top: 10rem;
}
.fonctionnement ol {
  display: flex;
  gap: 2rem;
  padding-left: 1rem;
}
@media (max-width: 1100px) {
  .fonctionnement ol {
    flex-direction: column;
  }
}
.fonctionnement li {
  list-style-type: none;
  background-color: white;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 7px -3px black;
  position: relative;
}
.fonctionnement li::before {
  content: counter(etapes);
  counter-increment: etapes;
  color: #f6f6f6;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  left: -1rem;
  top: 1.6rem;
}
.fonctionnement li:hover {
  transform: scale(1.06);
}
.fonctionnement li i.fas {
  margin-right: 1rem;
  color: #D0D0D0;
}

.menus {
  background-color: #f6f6f6;
  margin-bottom: 2rem;
}
.menus h2 {
  margin-bottom: 2rem;
  margin-top: 10rem;
}
.menus__carte {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  justify-content: space-between;
}
.menus__carte .nouveau {
  position: relative;
}
.menus__carte .nouveau::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  right: 1rem;
  top: 1rem;
}
.menus .carte {
  flex-basis: 45%;
  height: 185px;
}
@media (max-width: 1100px) {
  .menus .carte {
    flex-basis: 100%;
  }
}
.menus .carte__image {
  height: 100%;
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
.menus .carte__image-1 {
  background-image: url("../../assets/menus-1.jpg");
}
.menus .carte__image-2 {
  background-image: url("../../assets/menus-2.jpg");
}
.menus .carte__image-3 {
  background-image: url("../../assets/menus-3.jpg");
}
.menus .carte__image-4 {
  background-image: url("../../assets/menus-4.jpg");
}
.menus .carte__description {
  box-shadow: 2px 1px 7px -3px black;
  border-radius: 0 0 1rem 1rem;
  position: relative;
}
.menus .carte__description h3 {
  padding: 0.5rem 0.5rem 0 1rem;
}
.menus .carte__description p {
  padding: 0.2rem 0.5rem 0.5rem 1rem;
}
.menus .carte__description i {
  position: absolute;
  font-size: 1.5rem;
  right: 1rem;
  top: 20%;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer ul {
  padding: 0;
  list-style-type: none;
}
footer h4 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 500;
  font-size: larger;
  margin: 0;
}
footer li {
  padding: 0.3rem 0.3rem 0.3rem 0;
}
footer li i {
  padding-right: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
